# Database
MONGODB_URI=mongodb://localhost:27017/collab
# Server
PORT=3000
NODE_ENV=development
API_URL=http://localhost:3000

# Security
JWT_SECRET=2455c89eca8768071c0eb2d25bfd54f5cde1b2503230d4b058182eb1fe8fa64c
CORS_ORIGIN=http://localhost:3000,http://localhost:5173

# Email
EMAIL_USER=kanwariayogita@gmail.com
EMAIL_PASSWORD=jpsfsciqtfdiazib

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Logging
LOG_LEVEL=info